/**
 * Normalize CSS based on Andy Clarke's Transending CSS suggestions.
 */

/* Normalize Padding */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }

/* Normalize Font sizes for Header */
h1, h2, h3, h4, h5, h6 { font-size:100%; }

/* Remove list-style from lists */
ul, ol { list-style: none; }

/* Normalize font-style and font-weight */
addres, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight:normal; }

/* Remove borders and spacing from tables */
table { border-collapse: collapse; border-spacing:0; }

/* Remove borders from fieldset */
fieldset, img { border:0; }

/* left align text in caption and th */
caption, th { text-align: left; }

/* Remove quotation marks from q */
q:before, q:after { content :''; }
