body,
html {  margin:1px 1px 1px 1px; padding:0px; background:#FFFFFF; }

A { color: #336699; text-decoration: none; font-weight:bold; font-family:verdana, arial, sans-serif;
} 
A:link { color: #336699; text-decoration: none; font-weight:bold; }
A:visited { color: #336699; text-decoration: none; font-weight:bold; } 
A:active { color: #99CC66;  } 
A:hover { color: #99CC66;  }


h1 {
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	font-color:#333;
	text-transform:uppercase;
	}

h2 {
	text-transform:lowercase;
	font-family:verdana, arial, sans-serif;
	font-size:13px;
	font-color:#333;
	}

h3 {
	text-transform:uppercase;
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	font-color:#333;
	}

h4 {
	text-transform:uppercase;
	font-family:verdana, arial, sans-serif;
	font-size:10px;
	font-color:#333;
	}

p {
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	color:#333;
	line-height:15px;
	}

ol { 
	color:#333; 
	font-family: verdana, helvetica, sans-serif; 
	font-size: 11px; 
	line-height:14px;  
}
	
ul { 
	color:#333; 
	font-family: verdana, helvetica, sans-serif; 
	font-size: 11px; 
	list-style: url(box.gif) circle; 
	line-height:14px;  
}

li { 
	font-family: verdana, helvetica, sans-serif;
	color:#333; 
	font-size: 11px; 
	margin-left: 0px; 
	margin-right: 0px; 
	margin-top: 6px; 
	margin-bottom: 0px;
	line-height:14px;
	}

dl {
	font-family:verdana, arial, sans-serif;
	font-size:11px;
	color:#333;
	line-height:15px;
}
	
span.copyright {
	font-family:verdana, arial, sans-serif;
	font-size:10px;
	color:#333;
	line-height:15px;
	}
	
.label {
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	color:#333;
	line-height:15px;
}

PRE {
	margin:10px;
	padding-left:10px; 
	color:#333;
  background-color: #EEE;
  border: 1px solid #333;
  overflow: auto;
}

CODE {
  font-family:courier, times, typewriter;
	font-size:12px;
	line-height:13px;
}

IMG {
  margin:5px;
  padding:5px;
  border-width:2px;
  border-style:solid;
  border-color:#003;
  float:right;
}

DIV.banner {
  position:absolute;
  left:0px;
  top:0px;
  padding-left:40px;
  min-width:400px;
}

DIV.navigation {
  position:absolute;
  left:0px;
  top:60px;
  min-width:50px;
  max-width:100px;
  padding-top:5px;
  padding-right:5px;
}

DIV.content-text {
  position:absolute;
  left:140px;
  top:60px;
  min-width:200px;
  // max-width:500px;
  padding:5px;
}
DIV.content-print {
  padding:5px;
  margin:45px;
}

UL.citations {
  text-indent:-30px;
	list-style: none; //url(box.gif) circle; 
}

UL.navigation { 
	color:#333; 
	font-family: verdana, helvetica, sans-serif; 
	font-size: 11px;
	list-style: none; //url(box.gif) circle; 
	line-height:14px;  
}

