:root {
    /* Color Variables for Tables */
    --table-text-color: white; /* Text color for tables */
    --table-bg-color: darkblue; /* Background color for tables */
    --table-odd-row-text-color: blue; /* Text color for odd rows in the table body */
    --table-odd-row-bg-color: white; /* Background color for odd rows in the table body */
    --table-even-row-text-color: white; /* Text color for even rows in the table body */
    --table-even-row-bg-color: blue; /* Background color for even rows in the table body */
    --table-caption-text-color: black; /* Text color for table captions */
    --table-caption-bg-color: white; /* Background color for table captions */

    /* Font Variables for Tables */
    --table-header-font-family: comic, cursive, helvetica; /* Font family for table headers */
    --table-body-font-family: monospace, courier, serif; /* Font family for table body cells */
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    color: var(--table-text-color);
    background-color: var(--table-bg-color);
    caption-side: bottom;
}

th, td {
    font-family: var(--table-header-font-family);
    padding: 0.72em;
}

tr, td {
    font-family: var(--table-body-font-family);
}

tbody tr:nth-child(odd) {
    color: var(--table-odd-row-text-color);
    background-color: var(--table-odd-row-bg-color);
}

tbody tr:nth-child(even) {
    color: var(--table-even-row-text-color);
    background-color: var(--table-even-row-bg-color);
}

caption {
    color: var(--table-caption-text-color);
    background-color: var(--table-caption-bg-color);
    text-align: left;
    text-transform: lowercase;
    font-size: smaller;
}
