/**
 * Build up the design now that we have normalized the browser.
 */

/* Start building up my design */
body {
  font-family:"American Typewriter", Monospace, Georgia, Courier, "New Times Roman", serif;
  width: 98%;
  height: 98%;
  position:relative;
  font-size:16px;
  text-align:left; 
  padding-left: 1em;
  margin: 0 auto;
}

h1 { font-size:1.55em; padding-top:0.5em; padding-bottom:1em; }
h2 { font-size:1.4em; padding-top:0.4em; padding-bottom:1em; }
h3 { font-size:1.3em; padding-top:0.3em; padding-bottom:1em; }
h4 { font-size:1.25em; padding-top:0.25em; padding-bottom:1em; }
h5 { font-size:1em; padding-top:0.25em; padding-bottom:1em; }
h6 { font-size: 0.95em; padding-top:0.25em; padding-bottom:1em; }

pre { border-bottom : 1px dotted black; padding-bottom:10px; } 


div, p { padding-top:0; padding-bottom:0.5em; }

a:link {color: #cc3300; text-decoration:none;} 
a:visited {color: #cc3300; text-decoration:none;} 
a:hover {color: #0000cc; text-decoration:underline;} 
a:active {color: #cc3300; text-decoration:underline;} 
a {color: #cc3300; text-decoration:underline;}

em { font-family: cursive; }

ol {
  list-style:lower-roman;
}

dl > dd {
  margin-left:0;
  padding-left:1em;
  padding-bottom:0.5em;
}


ul {
  list-style: none;
  margin-left:0;
  padding-left:1em;
  text-indent:-1em;
}
ul > li:before {
  content:"* ";
}
ul > li {
  padding-bottom:0.25em;
}

blockquote {
  padding-left:2em;
  margin-left:2.5em;  
}

pre, code {
  background-color:#e6e6e6;
  color:#800040;
}

td {
  padding-right:1em;
}

.no-bullet {
  list-style:none;
}

.no-bullet > li:before {
  content: "";
}

.show {
  display:block;
}

.hide {
  display:none;
}

.lead-image {
  float:left;
  text-align:left;
  padding-top:1em;
  padding-left:0.25em;
  padding-right:0.25em;
  padding-bottom:1em;
}

.contact {
  float:right;
  text-align:right;
  padding-top:1em;
  padding-left:0.25em;
  padding-right:0.25em;
  padding-bottom:1em;
}

.content {
  float:none;
}

.news {
  float:none;
}

#slideShow {
  width:100px;
  height:100px;
}

.recent-reading, .recent-writing {
  padding-top:2em;
  padding-bottom:0;
}

.recent-reading > li, .recent-writing > li {
  padding-bottom:0.5em;
}

.navigation {
  float:right;
  border-top : 1px dashed black;
  border-left : 1px dashed black;
  margin:0.5em;
  padding:0.5em;
}

.navigation  > li {
  padding-bottom:0;
}

nav {
  float:right;
  border-top : 1px dashed black;
  border-left : 1px dashed black;
  margin:0.5em;
  padding:0.5em;
}

nav  > li {
  padding-bottom:0;
}

[contenteditable]:hover {
  outline: 1px solid grey;
}
