:root {
  /* Color Variables */
  --main-text-color: black; /* Standard text color */
  --main-bg-color: white; /* Standard background color */
  --link-color: darkgreen; /* Color for standard links */
  --link-hover-color: maroon; /* Color for links when hovered */
  --nav-text-color: white; /* Text color in navigation */
  --nav-bg-color: #5f0202; /* Background color for navigation */
  --nav-hover-color: orange; /* Color for navigation links when hovered */
  --footer-text-color: white; /* Text color in footer */
  --footer-bg-color: black; /* Background color for footer */
  --footer-link-color: #FF6E1E; /* Color for links in footer */
  --footer-link-hover-color: lightgreen; /* Color for footer links when hovered */
  --and-or-red: red; /* Color for AndOr specific elements */

  /* Font Variables */
  --main-font-family: sans-serif; /* Main font family for the body */
  --footer-font-family: 'Dosis', sans-serif; /* Font family for footer */
  --table-header-font-family: comic, cursive, helvetica; /* Font family for table headers */
  --table-body-font-family: monospace, courier, serif; /* Font family for table body cells */

  /* Font Size Variables */
  --base-font-size: 1em; /* Base font size */
  --link-font-size: 1.1em; /* Font size for links */
  --h1-font-size: 2em; /* Font size for h1 elements */
  --h2-font-size: 1.7em; /* Font size for h2 elements */
  --h3-font-size: 1.2em; /* Font size for h3 elements */
  --h4-font-size: 1em; /* Font size for h4 elements */
  --footer-font-size: 0.82em; /* Font size for footer text */

  /* Table Color Variables */
  --table-text-color: white; /* Text color for tables */
  --table-bg-color: darkblue; /* Background color for tables */
  --table-odd-row-text-color: blue; /* Text color for odd rows in the table body */
  --table-odd-row-bg-color: white; /* Background color for odd rows in the table body */
  --table-even-row-text-color: white; /* Text color for even rows in the table body */
  --table-even-row-bg-color: blue; /* Background color for even rows in the table body */
  --table-caption-text-color: black; /* Text color for table captions */
  --table-caption-bg-color: white; /* Background color for table captions */

  /* Code Block Variables */
  --code-font-family: monospace; /* Font family for the code block */
  --code-border-color: #ccc; /* Border color for the code block */
  --code-background-color: #f5f5f5; /* Background color for the entire code block */
  --copy-button-bg-color: #fff; /* Background color for the copy button */
  --copy-button-border-color: #ccc; /* Border color for the copy button */
  --copy-button-text-color: #000; /* Text color for the copy button */
  --copy-button-hover-bg-color: #f0f0f0; /* Background color for the copy button on hover */
}
