#branding {
	padding-top:0.5em;
	padding-bottom:1em;
  text-transform: uppercase;
  font-size:2em;
}

#content {
	padding-right:0em;
	text-align:left;
}

#content-main {
	font-size:1em;
}

#content-sub {
	font-size:0.8em;
}

#nav {
	padding-right:1em;
	text-align:right;
  font-size:0.8em;
  text-decoration: none;
}

#site-info {
  font-size:0.5em;
  text-align:center;
}

#status {
 padding:1em;
 border:1px solid black;
}

.no-bullets {
	list-style : none;
}

.content-example {
  padding-left:0.5em;
  margin-left:0.5em;
}

