<!DOCTYPE html>
<html lang="en">
  <head>
    <title>R. S. Doiel, Software Engineer/Analyst</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css"  href="/css/site.css" media="screen" />
    <link rel="alternate" type="application/rss+xml" href="http://rsdoiel.github.io/rss.xml" />
    {{with .mdfile -}}<link rel="alternative" type="application/markdown" href="{{- . -}}">{{- end}}
  </head>
  <body>
    <nav>
    {{.nav}}
    </nav>

	<section>
	{{.aboutAuthor}}
	{{.pageContent}}
    </section>

    <footer>
    {{.footer}}
    </footer>
    </body>
</html>
