<!DOCTYPE html>
<html lang="en">
  <head>
    <title>R. S. Doiel, Software Engineer/Analyst - CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css"  href="/css/site.css" media="screen" />
    <link title="RSS for rsdoiel's blog" rel="alternate" type="application/rss+xml" href="http://rsdoiel.github.io/rss.xml" />
    ${if(mdfile)}<link title="Markdown source for this page" rel="alternative" type="application/markdown" href="${mdfile}">${endif}
  </head>
  <body>
    <nav>
    ${nav}
    </nav>

    <section>
    ${pageContent}
    </section>

    <footer>
    ${footer}
    </footer>
  </body>
</html>
