<!DOCTYPE html>
<html lang="en">
  <head>
    <title>R. S. Doiel, Software Engineer/Analyst</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css"  href="/printfonts/print.css" media="print" />
    <link rel="stylesheet" type="text/css"  href="/webfonts/fonts.css" media="screen" />
    <link rel="stylesheet" type="text/css"  href="/css/site.css" media="screen" />
    <link title="RSS feed for rsdoiel's blog" rel="alternate" type="application/rss+xml" href="https://rsdoiel.github.io/rss.xml" />
    $if(mdfile)$<link title="Markdown source for this page" rel="alternative" type="application/markdown" href="$mdfile$">$endif$
  </head>
  <body>
    <nav>
    ${nav}
    </nav>

    <section>
    ${content}
    </section>

    <footer>
    ${footer}
    </footer>
    </body>
</html>
