<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="EN">
  $if(title)$<title>R. S. Doiel, Software Engineer/Analyst - $title$</title>$else$<title>R. S. Doiel, Software Engineer/Analyst</title>$endif$

  <link rel="stylesheet" type="text/css"  href="/css/site.css">
  <link title="Recent blog post" rel="alternate" type="application/rss+xml" href="https://rsdoiel.github.io/index.xml">
  <link title="Archive of blog posts" rel="alternate" type="application/rss+xml" href="https://rsdoiel.github.io/archive.xml">
  $if(sourcefile)$<link title="markdown source for page" rel="alternative" type="application/markdown" href="$sourcefile$">$endif$
  <link rel="search" type="application/opensearchdescription+xml"
        title="Robert's Rambling Search Engine"
        href="osd.xml">
</head>
<body>
<nav>
$for(include-before)$
$include-before$
$endfor$
</nav>

<section>
  $for(title)$<h1>$title$</h1>$endfor$

$body$
</section>

<footer>
$for(include-after)$
$include-after$
$endfor$
</footer>
<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
</body>
</html>
