<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="EN">
  $if(title)$<title>$title$</title>$else$<title>$sourcefile$</title>$endif$

  <link rel="stylesheet" type="text/css"  href="/css/site.css" media="screen">
  <link title="Recent blog post" rel="alternate" type="application/rss+xml" href="https://rsdoiel.github.io/index.xml">
  <link title="Archive of blog posts" rel="alternate" type="application/rss+xml" href="https://rsdoiel.github.io/archive.xml">
  $if(keywords)$<meta name="keywords" content="$for(keywords)$$it$$sep$, $endfor$">$endif$
  $if(sourcefile)$<link rel="alternative" type="application/markdown" href="/blog/$sourcefile$">$endif$
  <link rel="search" type="application/opensearchdescription+xml"
        title="Robert's Rambling Search Engine"
        href="osd.xml">
</head>
<body>
<nav>
$for(include-before)$
$include-before$
$endfor$
</nav>

<section>
  <article>
$body$
  </article>
</section>

<footer>
$for(include-after)$
$include-after$
$endfor$
</footer>
<script type="module" src="/modules/copyToClipboard.js"></script>
<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
</body>
</html>
