<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if (title) %}<title>{{title}}</title>{% endif %}

    <link rel="stylesheet" type="text/css"  href="/css/site.css" media="screen" />
    <link rel="alternate" type="application/rss+xml" href="http://rsdoiel.github.io/rss.xml" />
    {% if (mdfile) %}<link rel="alternative" type="application/markdown" href="{{ mdfile }}">{% endif %}
  </head>
  <body>
    {% autoescape off %}
    <nav>
    {{ nav }}
    </nav>

    <section>

<a href="/" text="When I press keys letters and punctuation sometimes appear on the surface."><img src="/media/Wee-Free-Doiels-Summer-Reading.jpg" alt="When I press keys letters and punctuation sometimes appear on the surface."></a>

      <h2>Robert's ramblings</h2>
      {{ pageContent }}
    </section>

    <footer>
	{{ footer }}
    </footer>
    {% endautoescape %}
    </body>
</html>
