<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.title}}</title>

    <link rel="shortcut icon" href="https://www.gravatar.com/avatar/60c7b20527f236c7156a85772a97430f.png">
    <link href="/css/site.css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" href="http://rsdoiel.github.io/rss.xml" />
  </head>
  <body>
    <header>
      <img src="https://www.gravatar.com/avatar/60c7b20527f236c7156a85772a97430f.png" title="When I press keys letters and punctuation sometimes appear on the surface." alt="Androidified Robert in a beret and black t-shirt.">
      <div>
        R. S. Doiel<br />
        Digital Services Programmer<br />
        <a href="http://library.caltech.edu">Caltech Libraries</a><br />
      </div>
    </header>

    <section>
      <article>
	  {{.contentBlock}}
      </article>
    </section>

    <nav>
    {{.nav}}
    </nav>

    <footer>
    {{.footer}}
    </footer>

<!-- START: Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-35496709-1', 'auto');
ga('send', 'pageview');
</script>
<!--   END: Google Analytics -->
    </body>
</html>
